<h2>Welcome</h2>
<div>
<form action="/signup" method="get">
    <input type="submit" name="submit" value="signup">
</form>

<br>
<form action="/login" method="get">
    <input type="submit" name="submit" value="login">
</form>
</div>